page-login {
  .background{
    background: url("../assets/imgs/login.png") no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: 100% 100%;
    background-color: #fff;
    background-attachment: fixed;
  }
  .text_image{
    text-align: center;
  }
  .name_input {
    background-color: #e2e2e2;
    //height: 51px;
    //width: 281px;
  }
  .email_input {
    background-color: #e2e2e2;
    //height: 51px;
    //width: 281px;
  }
  .name_text{
    font-size: 30px;
  }
  .email_text{
    font-size: 30px;
  }
  .camera_button{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .button_div{
    display: block;
    /* margin-top: 350px; */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: absolute;
    bottom: 130px;
    text-align: center;

  }
  .col{
    padding: 0px;
  }

  .text-input{ padding: 5px 15px; }
}
