page-screensaver {
  .background{
    background: url("../assets/imgs/first.png") no-repeat center center;
    background-size: cover;
    background-position: 100% 100%;
    background-color: #fff;
    background-attachment: fixed;
  }
}
