page-home {
  .background-camera{
    background: url("../assets/imgs/ending.png") no-repeat center center;
    background-size: cover;
    background-position: 100% 100%;
    background-color: #ffffff;
    background-attachment: fixed;
  }
  .frame {
    margin-left: 121px;
    margin-top: 9px;
    height: 69%;
    position: absolute;
  }
  .countdownback{
    height: 29%;
    position: absolute;
    margin-top: 26%;
    margin-left: 29%;
  }
  .timer{
    font-size: 90px;
    color: #3D835F;
    margin-top: 22%;
    margin-left: 7px;
  }
  .welcome {

    margin-top: 40%;
    margin-left: 29%;
    position: fixed;
    font-size: 42px;
    color: #18165A;

  }
  .counter_div{

    background: url(../assets/imgs/countdown.png) no-repeat;
    background-size: contain;
    height: 250px;
    width: 250px;
    position: absolute;
    margin: 47% 39%;
    padding: 40px;
  }
}
html, body, ion-app, ion-content, ion-page, .nav-decor {
  background-color: transparent !important;
}
